<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Reg</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name"><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>
        <button>Register</button><br>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <h1>Login</h1>
</body>
</html>